// Box immagine fumetto

.comics-img-background {
    height: 5rem;
    background-color: $primary-color;

    .comics-img-col {
        position: relative;

        .comics-img-box {
            height: 15rem;
            width: 12.5rem;
            position: absolute;
            top: -11.25rem;
            left: 0;

            .img-box {
                height: 15rem;
                width: 12.5rem;
                position: relative;

                &::before, &::after {
                    text-transform: uppercase;
                    display: inline-block;
                    position: absolute;
                    background-color: #00a9d9;
                    color: #fff;
                    padding: .125rem .25rem;
                    font-size: 0.8em;
                }

                &::before {
                    content: "comic book";
                    top: 0;
                    left: 0;

                }

                &::after {
                    content: "view gallery";
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }
        }
    }
}

// Sezione centrale

.central-section {
    padding: 4.6875rem 0 4.375rem;

    .comic-description {

        .availability {
            background-color: #55ba59;
            color: #fff;
            border-bottom: .125rem solid #357739;

            &-price {
                padding: .9375rem 1.5625rem;
                color: #bafd9c;
                border-right: .125rem solid #357739;
                height: 100%;
            }

            &-check {
                padding: .9375rem 0;
                text-align: center;
            }
        }
    }
}

// Info fumetto

.comics-info {
    background-color: #f6f6f6;
    border-top: .125rem solid #e3e3e3;
    padding-bottom: 6.25rem;

    h2 {
        font-size: 1.4em;
        padding: 1.875rem 0;
    }

    a {
        text-decoration: none;
        color: #00a9df;

        &:not(:last-child):after {
            content: "\002C";
            color: #000;
        }
    }
}

// Link utili

.comics-detail-links {
    color: #9f9f9f;
    background-color: #f6f6f6;
    border-top: .0625rem solid #e3e3e3;

    .link-box {
        padding: 1.0625rem 1.0625rem;
        border-right: .0625rem solid #e3e3e3;

        &:first-child {
            border-left: .0625rem solid #e3e3e3;
        }

        h4 {
            font-size: 0.7em;
        }

        .link-img {
            height: 2.8125rem;
            width: 2.1875rem;

            img {
                filter: invert(15%);
            }
        }
    }
}