//Footer top

.footer-nav {
    background-color: $primary-color;

    a {
        display: inline-block;
        padding: 3.125rem .625rem;
        text-decoration: none;

        .link {
            display: flex;
            align-items: center;
        

            .img {
                height: 3.4375rem;
                margin-right: .9375rem;

                img {
                    height: 100%;
                }
            }

            .small-img {
                height: 2.1875rem;
                margin-right: .9375rem;

                img {
                    height: 100%;
                }
            }
        }

    }
}

// Footer mid

.background {
    background-image: url('/resources/img/dc-logo-bg.png'), url('/resources/img/footer-bg.jpg');
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-position-y: 60%, 0;
    background-position-x: 85%, 0;
    padding: 1.5625rem 0 2.5rem;
}

.big-container {
    @include my-container(80rem);

    div {
        
        h1 {
            text-transform: uppercase;
            color: #fff;
            font-size: 1.2em;
            margin: 1.25rem 0;
        }

        ul {
            list-style-type: none;

            li {
                margin-right: 1.875rem;

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #959595;
                    padding: .125rem 0;
                    font-size: .8125rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.registration {

    div {
        color: #959595;
        font-size: .8125rem;

        a {
            text-decoration: none;
        }
    }
}

// Footer bottom

.footer-social {
    background-color: #303030;

    .big-container {

    padding: 1.875rem 0;
    
        div:first-child {

            button {
                display: block;
                padding: .9375rem;
                border: .125rem solid $primary-color;
                color: #fff;
                background-color: inherit;
                text-transform: uppercase;
                font-family: inherit;
                cursor: pointer;

                &:hover {
                    background-color: $primary-color;
                }
            }
        }
        .icons-group {
            margin-left: auto;

            .follow-us {
                text-transform: uppercase;
                color: $primary-color;
                margin-right: .625rem;
                font-weight: 900;
            }

            .icon {
                margin-left: 1.125rem;
                height: 2.1875rem;

                &:hover {
                    filter: brightness(500%);
                    scale: 1.1;
                }
            }


        }
    }
}