.big-container {
    @include my-container(80rem);
}

header .top-header {

    background-color: $primary-color;
    
    div {
        padding: .4375rem 0 .4375rem 3.75rem;
    }
}

header .bottom-header .logo {
    height: 5rem;

    img {
        display: block;
        height: 100%;
    }
}

header .bottom-header {

    li {
        height: 100%;

        a {
            display: inline-block;
            text-decoration: none;
            color: #464646;
            font-weight: 700;
            padding: 1.0625rem;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}
